<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <!--   	Null반환값 받기위한 설정 --> 
  	<settings>
  		<setting name="cacheEnabled" value="false"/>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	
  	<typeAliases>
	<!-- <typeAlias type="dank.mvc.vo.*****" alias="*****"/> -->

		<!-- 대출 영역 시작 -->
  		<typeAlias type="dank.mvc.vo.LoanProductVO" alias="lpvo"/>
  		<typeAlias type="dank.mvc.vo.LoanCheckVO" alias="lcvo"/>
  		<typeAlias type="dank.mvc.vo.LoanApplicationVO" alias="lavo"/>
  		<typeAlias type="dank.mvc.vo.LoanFileVO" alias="lfvo"/>
  		<typeAlias type="dank.mvc.vo.LoanRepayVO" alias="lrvo"/>
  		
		<!-- 대출 영역 끝 -->
		
  		<!-- 보안 알리아스 시작-->
  		<typeAlias type="dank.mvc.vo.security.Otp_RegVO" alias="otpvo"/>
  		<typeAlias type="dank.mvc.vo.security.Security_Card_RegVO" alias="scrvo"/>
  		<typeAlias type="dank.mvc.vo.security.Security_CardVO" alias="cardvo"/>
  		<!-- 보안 알리아스 끝-->
  		

  		<!-- 예금 영역 시작 -->

  		<typeAlias type="dank.mvc.vo.deposit.AccountVO" alias="acvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.DepositVO" alias="depvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.Installment_savingVO" alias="insvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.ProductVO" alias="provo"/>
  		<typeAlias type="dank.mvc.vo.deposit.QualificationVO" alias="quavo"/>
  		<typeAlias type="dank.mvc.vo.deposit.Sav_processVO" alias="savprvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.SavingVO" alias="savvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.Shared_challengeVO" alias="shacvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.Shared_savingVO" alias="shasvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.TransferVO" alias="trvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.WithdrawVO" alias="witvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.AccountHistoryVO" alias="achvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.PageVO" alias="deppvo"/>
  		<typeAlias type="dank.mvc.vo.deposit.At_applicationVO" alias="atapplyvo"/>
		<typeAlias type="dank.mvc.vo.deposit.Account_AdminVO" alias="adminvo"/>
		<typeAlias type="dank.mvc.vo.deposit.Account_ClientVO" alias="clientvo"/>
		<typeAlias type="dank.mvc.vo.deposit.TransferDTO" alias="trdto"/>
		
		<typeAlias type="dank.mvc.vo.deposit.ProSavInsDto" alias="psidto"/>
  		<!-- 예금 영역 끝 -->

  		<typeAlias type="dank.mvc.vo.PageVO" alias="pvo"/>
  		<typeAlias type="dank.mvc.vo.QnaVO" alias="qnavo"/>
  		<typeAlias type="dank.mvc.vo.MemberVO" alias="mem"/>
  		<typeAlias type="dank.mvc.vo.EmployeeVO" alias="emp"/>
		<typeAlias type="dank.mvc.vo.Question_princhk_VO" alias="qvo"/>
  	</typeAliases>

  </configuration>
  
  