<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deposit">
	
	<resultMap type="savvo" id="savingqua">
		<id property="sav_code" column="sav_code"/>
		<result property="sav_name" column=""/>
		<result property="sav_interestrate" column="sav_interestrate"/>
		
		<association property="qualificationYNvo" column="qua_code" javaType="quavo">
			<id property="qua_code" column="qua_code"/>
			<result property="qua_minperiod" column="qua_minperiod"/>
			<result property="qua_maxperiod" column="qua_maxperiod"/>
			<result property="qua_minage" column="qua_minage"/>
			<result property="qua_maxage" column="qua_maxage"/>
		</association>
	</resultMap>
	<select id="savingDetail" parameterType="int" resultMap="savingqua">
		select sav_code sav_code,s.sav_name sav_name,s.sav_interestrate sav_interestrate,
				q.qua_code qua_code,q.qua_minperiod qua_minperiod,q.qua_maxperiod qua_maxperiod,
				q.qua_minage qua_minage,q.qua_maxage qua_maxage
		from saving s, qualificationyn q
		where s.qua_code = q.qua_code and sav_code=#{sav_code}
	</select>
</mapper>