<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="visitor">
	<!-- 현재접속자 정보 입력 -->
	<insert id="add" parameterType="cvvo">
		insert into curr_visitor 
		values (curr_visitor_seq.nextVal,#{mem_code},#{cv_ip},sysdate,#{cv_page},#{cv_url},#{cv_referer},#{cv_agent})
	</insert>
</mapper>